<p>Worker ID: <%= curr_worker_id %> (<%= link_to "not you? click here", getid_path %>) 
<% if @curr_task.bonus != nil && @curr_task.bonus > 0  %>
-- bonus: $<%= @curr_task.bonus.to_f/100 %>
<% end %>
</p>
<h3>Task <%= @curr_task.tasktype.to_s %>/6</h3>
<div id = "status" style="font-size: 300%">
</div>
<% if @curr_task.tasktype == 2 %>
	<p>Write a one paragraph summary of the audio clip <b>in your own words</b>. What is the main message?</p>
<% else %>
	<p>Transcribe the following audio clip in the text box, <b>pay close attention to your time limit above</b>
 	<% if @curr_task.condition[1] == 'p' %>
	<br> you need to get at least 70% of the transcription right to receive the bonus and at least 50% for the task to be accepted.
	<% end %>
	</p>
<% end %>

<audio controls>
	<% if @curr_task.tasktype == 2 %>
		<source src= <%= "https://stanford.edu/~niloufar/audio/p1"+@curr_task.condition[0]+@curr_task.tasktype.to_s+".mp3" %> type="audio/mpeg">
	<% else %>
		<source src= <%= "https://stanford.edu/~niloufar/audio/p1t"+@curr_task.tasktype.to_s+".mp3" %> type="audio/mpeg">		
	<% end %>
	</audio>

	<%= form_tag("/posttask",:id => 'myform', method: "post") do %>


	<%= text_area_tag 'text_data', @curr_task.text, :cols => 80, :rows => 20 %>
	<%= hidden_field_tag :taskid, @curr_task.id %>
	<br>
	<%= submit_tag('Submit', class: "btn", style: "background-color: #4CAF50; /* Green */
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;") %>
		
		<% end %>

		<script type="text/javascript">
			t = 0;
			$( document ).ready(function(){
				//auto_save_text();
				if ( '<%= @curr_task.tasktype %>' == 2 ){
					$("#text_data").val("summary:");
				//	set_text('<%= @curr_task.condition %>');
				}
				t = parseInt('<%= @curr_task.started_at+@curr_task.timelimit-Time.now%>');
				setInterval(auto_save_text, 5000);
				setInterval(run_timer, 1000);
			});
			function run_timer(){
				if ( t>0 ){
					t--;
					if ((t%60)<10)
						$("#status").text(Math.floor(t/60)+":0"+(t%60));
					else
						$("#status").text(Math.floor(t/60)+":"+(t%60));
				}else{
					//$("#text_data")
					//alert(t);
					t--;
					if ( t<7 ){
						$('#myform').submit();
					}

				}
			}
			function auto_save_text(){
			//alert('<%= @curr_task.id %>');
			//alert(document.getElementById('text_data').value);
			$.ajax({
				url: "/auto_save_text",
				type: "POST",
				data: {"id": '<%= @curr_task.id %>', "text_data": document.getElementById('text_data').value},
				success: function(resp){
				},
				error: function(xhr, status, error){
					//alert(xhr.responseText);
					//alert(status);
					//alert(error);

				}
			});
			}
			
		</script>