averages: <br>
gp: <%= @gp %> (N=<%= @gp_n/4 %>) <%= @gp_l.to_sentence %><br>
cp: <%= @cp %> (N=<%= @cp_n/4 %>) <%= @cp_l.to_sentence %><br>
gn: <%= @gn %> (N=<%= @gn_n/4 %>) <%= @gn_l.to_sentence %><br>
cn: <%= @cn %> (N=<%= @cn_n/4 %>) <%= @cn_l.to_sentence %><br>
<br><br>
<% (0..@all_users.length-1).each do |i| %>
	<%= @all_users[i] %>, <%= @all_conditions[i] %><br>
	<ul>
	<% @tasks.where(workerID: @all_users[i]).order(:id).each do |task| %>
		<li>
		task <%= task.id %> : <%= task.tasktype %> | stage: <%= task.taskstage %> | <%= task.accuracy %>% | <%= ((task.updated_at-task.created_at)/60).to_i %> | $<%= task.bonus %>
		<% if task.tasktype == 2 %>
			<br><%= task.text %>
		<% end %>
		</li>
	<% end %>
	</ul>
<% end %>